

.spending-header {
  margin-top: 2%;
  margin-left: 3%;
  font-size: 2.2rem;
  letter-spacing: 3.5px;
  text-transform: uppercase;
  color: #2D3142;
}

.main-spending-details {
  color: #2D3142;
  box-shadow: 0 0 1em lightgray;
  padding: 0.5% 0;
  width: 35%;
  margin: 2.5% auto 0 auto;
}

.small-chart-modal-container {
  color: #2D3142;
  box-shadow: 0 0 1em lightgray;
  padding: 0.7% 0;
  width: 50%;
  position: absolute;
  top: 22%;
  left: 25%;
  background-color: white;
}

.main-spending-details h4, .small-chart-modal-container h2 {
  text-align: center;
  font-size: 1.7rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  width: 75%;
  margin: auto;
  margin-bottom: 3%;
  border-bottom: 1px solid #2D3142;
}

.main-spending-details p, .small-chart-modal-container p {
  display: block;
  color: #2D3142;
  font-size: 1.1rem;
  text-align: center;
  letter-spacing: 1px;
  margin-bottom: 0.6%;
}



.categories-chart-container, .category-chart-container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  background-color: white;
  postion: relative;
  margin: 4% 0 0 1%;
  text-align: center;
  color: #2D3142;
}

.categories-chart-container h4, .category-chart-container h4, .chartpage-subscription-details h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  border-bottom: 1px solid #2D3142;
  padding-bottom: 1%;
  font-size: 1.3rem;
}

/*
.small-chart-modal-container {
  display: inline-block;
  position: fixed;
  left: 40%;
  top: 20%;
  border: 1px solid gray;
  background-color: white;
  z-index: 1;
}*/

.selected-subscription-details {
  vertical-align: top;
  margin: 3.4% 0 0 2%;
}

.selected-subscription-details, .chartpage-subscription-details, .chart-details-inner-container {
  display: inline-block;
}

.chartpage-subscription-details {
  /*border: 1px solid black;*/
  padding: 3%;
  text-align: center;
}

.chart-details-inner-container p:first-of-type {
  padding-top: 5%;
}
