.welcome-person {
  display: inline-block;
  font-size: 1.6rem;
  position: absolute;
  top: 7%;
  left: 3%;
  color: white;
  z-index: 51;
  letter-spacing: 1.5px;
  width: auto;
}

button.logout-link {
  position: absolute;
  font-size: 1rem;
  position: absolute;
  top: 7%;
  right: 3%;
  color: white;
  z-index: 51;
  /*text-transform: uppercase;*/
  border: 1px solid white;
  padding: 0.5%;
}


.dashboard-top {
  display: block;
  text-align: right;
}

.category-listing-height {
  height: 85px;
}

div.all-subscriptions-container {
  margin-top: 2.5%;
}

.subscriptions-header {
  margin-left: 3%;
  font-size: 2.2rem;
  letter-spacing: 3.5px;
  text-transform: uppercase;
  color: #2D3142;
}

div.single-sub-container-div {
  display: inline-block;
}

ul.subscription-container {
  width: 200vw;
  overflow-x: scroll;
  overflow-y: hidden;
}

div.scroll-container {
  overflow: scroll;
  width: 94vw;
  height: 35%;
  background-color: whitesmoke;
  padding: 1.7% 0.7%;
  border: 1px solid whitesmoke;
  box-shadow: inset 0 0 3em lightgray;
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 2%;
}

.subscription-solo .name-link {
  margin-top: 3%;
  color: #2D3142;
  letter-spacing: 2px;
  width: auto;
}

ul {
  list-style: none;
}

li.subscription-solo {
  text-align: center;
  width: auto;
  padding: 2% 8%;
  margin: 1% 3%;
  display: inline-block;
  vertical-align: text-top;
  background-color: white;
  box-shadow: 0 0 1em lightgray;
  color: #2D3142;
  letter-spacing: 1px;
}


/* Trial Info */
.trials-container {
  width: 23%;
}

.trial-header {
  margin-left: 3%;
  font-size: 0.8rem;
  z-index: 15;
  background-color: #ef5353;
  color: white;
  position: absolute;
  right: 13.5%;
  top: 31%;
  padding: 0.5%;
  transform: rotate(340deg);
  box-shadow: 0 0 0.4em  #ef5353;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.trial-solo {
  box-shadow: 0 0 2.7em lightgray;
  text-align: center;
  padding: 2%;
  z-index: 10;
  background-color: white;
  position: absolute;
  right: 4%;
  top: 31%;
  color: #2D3142;
}

p.first-charge {font-weight: bold;}




/* Details Modal */
.subscription-details-container {
  margin-top: 0.7%;
}

.subscription-details-container div div p {
  display: inline-block;
  font-size: 1.1rem;
  padding: 0 0 1% 0;
  margin: 0;
}

span.details-title {
  font-weight: bold;
}

.subscription-details-name {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #2D3142;
  border-bottom: 1px solid #2D3142;
  padding: 0 0 0.5% 0;
}

.details-container-inside {
  margin: 5.5% 0;
  color: #2D3142;
}

div.details-no-button.column.small-12.medium-11.row, button.button.alert.hollow.column.small-12.medium-1.subscription-delete-button {
  margin: 0;
  vertical-align: top;
  text-transform: uppercase;
}



/* Subscription Addition */
.button.hollow.add-button {
  text-transform: uppercase;
  padding: 1% 1.5%;
  margin-left: 90%;
  font-size: 1rem;
}

.subscription-form-container {
  box-shadow: 0 0 1em lightgray;
  width: 40%;
  margin: 0 auto 10% auto;
  padding: 3% 0;
  background-color: white;
  /*z-index: 60;*/
}

.add-subscription-form {
  width: 80%;
  margin: 1% auto 0 auto;
  color: #2D3142;
}

.add-subscription-form h2 {
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 4px;
  font-size: 1.8rem;
  padding-bottom: 1%;
  margin-bottom: 5%;
  border-bottom: 1px solid #2D3142;
}


.add-subscription-form form label {
  margin: 0.5% auto 0 auto;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.add-subscription-form form label select, .add-subscription-form form label input {
  letter-spacing: 1.5px;
  color: gray;
}

.add-subscription-form form label.date-input div {
  display: block;
}


form .submit-button.button.hollow.success, form button.cancel-form {
  display: inline-block;
  margin: 3%;
  text-transform: uppercase;
  letter-spacing: 1px;
}

form button.cancel-form {
  margin-left: 23%;
}








/* end */
