.verify {
  text-align: center;
  margin-top: 8%;
}

.login-form-container, .signup-form-container {
  text-align: center;
  margin: 8% 1%;
  box-shadow: 0 0 1em lightgray;
  padding: 3% 6%;
  width: 45%;
}

.signup-form, .login-form {
  width: 70%;
  margin: 5% auto 0 auto;
}

.verify-bold { font-weight: bold;}


.signup-form button, .login-form button {
  display: block;
  text-align: center;
  margin: 4% auto 0 auto;
}

div.passwordField {
  width: 100%;
}
