.App {
  text-align: center;
}

.header {
  background-color: #3D9481;
  height: 15%;
  color: white;
  top: 0;
  margin: 0;
}

.header-title {
  font-family: 'Raleway', sans-serif;
  letter-spacing: 2.3px;
  font-size: 2.7rem;
  text-align: left;
  color: white;
  margin: 0;
  padding: 1.3% 0 1.3% 3%;
}

div.subscriptions-containers, ul {margin: 0; width: auto; display:inline-block;}

div.single-sub-container-div, li.subscription-solo, li.trial-solo {
  margin: auto;
  width: auto;
  display: inline-block;
  border: 1px solid lightgray;
}
li.subscription-solo, li.trial-solo {
  padding: 2%;
  border: none;
}

body {
  margin: 0;
}

#categories-chart-container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 2%;
  display: inline-block;
  background-color: white;
  text-align: center;
}

.piechart-container, #categories-chart-container {
  border: 1px solid black;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
